.root:hover .circle {
	transform: translateY(calc((100% - 1.75rem)));
}

.root:hover .cross {
	transform: translateY(calc((100% - 1.75rem) * -1));
}

@media (min-width: 64rem) {
	.root:hover .circle {
		transform: translateY(calc((100% - 2rem)));
	}

	.root:hover .cross {
		transform: translateY(calc((100% - 2rem) * -1));
	}
}
