.root {
	background-image: url('/images/bg-texture-1-mobile.webp'),
		url('/images/bg-texture-2-mobile.webp'),
		url('/images/bg-texture-3-mobile.webp'),
		url('/images/bg-texture-1-mobile.webp'),
		url('/images/bg-texture-2-mobile.webp');
	background-size:
		80vh 20vh,
		80vh 20vh,
		80vh 20vh,
		80vh 20vh,
		80vh 20vh;
	background-position-y: 0, 20vh, 40vh, 60vh, 80vh;
	background-repeat:
		repeat no-repeat,
		repeat no-repeat,
		repeat no-repeat;
	animation: bg_movement 50s infinite linear;
}

@media (min-width: 1024px) {
	.root {
		background-image: url('/images/bg-texture-1-desktop.webp'),
			url('/images/bg-texture-2-desktop.webp'),
			url('/images/bg-texture-3-desktop.webp'),
			url('/images/bg-texture-1-desktop.webp');
		background-size:
			100vh 25vh,
			100vh calc(25vh + 1px),
			100vh 25vh,
			100vh 25vh;
		background-position-y: 0, 25vh, 50vh, 75vh;
		background-repeat:
			repeat no-repeat,
			repeat no-repeat,
			repeat no-repeat;
		animation: bg_movement 50s infinite linear;
	}
}

@keyframes bg_movement {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x:
			100vh,
			-100vh,
			100vh,
			-100vh;
	}
}
