@layer base {
  /* space-mono-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Space Mono';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/SapceMono-Regular.ttf') format('truetype');
  }
  /* space-mono-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Space Mono';
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/SpaceMono-Italic.ttf') format('truetype');
  }
  /* space-mono-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Space Mono';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/SpaceMono-Bold.ttf') format('truetype');
  }
  /* space-mono-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Space Mono';
    font-weight: 700;
    font-style: italic;
    src: url('/fonts/SpaceMono-BoldItalic.ttf') format('truetype');
  }
}
